<%include partials/header%>

<link rel="stylesheet" href="app.css">


<h1>This is the home page!</h1>
<img src="https://americanbully.pro/kennel/wp-content/uploads/2017/10/American-Bully-Puppy-41.jpg">

<%include partials/footer%>